#root {
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.ingredientes-seleccionados-bar {
    display: flex;
    align-items: center;
    gap: 15px;

    /* Centrado horizontal del bloque */
    max-width: 1000px; 
    margin: 0 auto;

    width: 100%;
    overflow: hidden;
    padding: 10px 20px;
    flex-wrap: nowrap;
}

.ingredientes-label {
    white-space: nowrap;
    font-weight: bold;
}

.ingredientes-scroll-container {
    flex-grow: 1;
    overflow-x: auto;
    white-space: nowrap;
    max-width: 70%;  /* Evita que se expanda demasiado */
    min-width: 200px; /* Para que no sea muy pequeña si hay poco espacio */
}


.ingredientes-lista {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.ingrediente-item {
  padding: 5px 10px;
  border-radius: 5px;
  color: #333;
  font-weight: bold;
}

.ingrediente-item.presente {
  background-color: #d4f4d4; /* verde suave */
  border: 1px solid #5cb85c;
}

.ingrediente-item.ausente {
  background-color: #d4f4d4; /* gris claro */
  border: 1px solid #5cb85c;
}


.editar-ingredientes-btn {
    white-space: nowrap;
    padding: 6px 12px;
    background-color: #004D00;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.editar-ingredientes-btn:hover {
    background-color: #006600;
}

.sin-ingredientes {
    flex-grow: 1;
    color: gray;
}
